body {
background-image: url('n1977s.jpg');
}

div #harpo {
 
  font-size: 2em;
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  margin-top:20px;
}

div #harpo img {
  width:100%;
}

div #credit {
  font-size: .2em;
}
